---
layout: default
---
{%- assign _desserts = site.desserts | sort: 'order' -%}
{%- include header.html scrolly_nav=_desserts -%}
<!-- Main -->
<div id="main">
	{%- if page.content != "" -%}
		{%- include section.html title=page.title photo=page.cover-photo photo-alt=page.cover-photo-alt auto-header=page.auto-header content=page.content -%}
	{%- endif -%}
	<!-- Sections -->
	{%- for _dessert in _desserts -%}
		{%- include section.html title=_dessert.title photo=_dessert.cover-photo photo-alt=_dessert.cover-photo-alt auto-header=_dessert.auto-header content=_dessert.content -%}
	{%- endfor -%}
</div>