---
layout: default
---
{%- assign _desserts = site.desserts | sort: 'order' -%}
{%- include header.html scrolly_nav=_desserts -%}
<!-- Main -->
<div id="main">
	{%- if page.content != "" -%}
		{%- include section.html title=page.title photo=page.cover-photo photo-alt=page.cover-photo-alt auto-header=page.auto-header content=page.content -%}
	{%- endif -%}
	<!-- Sections -->
	{%- for _dessert in _desserts -%}
		{%- include section.html title=_dessert.title auto-header=_dessert.auto-header subtitle=_dessert.author-%}
		<div class="row">
			<div class="6u 12u$(mobile)">
				<div class = "container">
		        	<h2> Ingredients </h2> 
		        	{{_dessert.content}}
		   		</div>
		    </div>
			<div class="6u 12u$(mobile)">
		    	<div class = "container">
		    		<h2> Directions </h2>
		    		{{_dessert.directions | markdownify}}
		    	</div>
		    </div>
		</div>
	{%- endfor -%}
</div>