---
layout: default
---
{%- assign _freshs = site.freshs | sort: 'order' -%}
{%- include header.html scrolly_nav=_freshs -%}
<!-- Main -->
<div id="main">
	{%- if page.content != "" -%}
		{%- include section.html title=page.title photo=page.cover-photo photo-alt=page.cover-photo-alt auto-header=page.auto-header content=page.content -%}
	{%- endif -%}
	<!-- Sections -->
	{%- for _fresh in _freshs -%}
		{%- include section.html title=_fresh.title auto-header=_fresh.auto-header subtitle=_fresh.author-%}
		<div class="row">
			<div class="6u 12u$(mobile)">
				<div class = "container">
		        	<h2> Ingredients </h2> 
		        	{{_fresh.content}}
		   		</div>
		    </div>
			<div class="6u 12u$(mobile)">
		    	<div class = "container">
		    		<h2> Directions </h2>
		    		{{_fresh.directions | markdownify}}
		    	</div>
		    </div>
		</div>
	{%- endfor -%}
</div>