---
layout: default
---
{%- assign _poultrys = site.poultrys | sort: 'order' -%}
{%- include header.html scrolly_nav=_poultrys -%}
<!-- Main -->
<div id="main">
	{%- if page.content != "" -%}
		{%- include section.html title=page.title photo=page.cover-photo photo-alt=page.cover-photo-alt auto-header=page.auto-header content=page.content -%}
	{%- endif -%}
	<!-- Sections -->
	{%- for _poultry in _poultrys -%}
		{%- include section.html title=_poultry.title auto-header=_poultry.auto-header subtitle=_poultry.author-%}
		<div class="row">
			<div class="6u 12u$(mobile)">
				<div class = "container">
		        	<h2> Ingredients </h2> 
		        	{{_poultry.content}}
		   		</div>
		    </div>
			<div class="6u 12u$(mobile)">
		    	<div class = "container">
		    		<h2> Directions </h2>
		    		{{_poultry.directions | markdownify}}
		    	</div>
		    </div>
		</div>
	{%- endfor -%}
</div>