---
layout: default
---
{%- assign _poultrys = site.poultrys | sort: 'order' -%}
{%- include header.html scrolly_nav=_poultrys -%}
<!-- Main -->
<div id="main">
	{%- if page.content != "" -%}
		{%- include section.html title=page.title photo=page.cover-photo photo-alt=page.cover-photo-alt auto-header=page.auto-header content=page.content -%}
	{%- endif -%}
	<!-- Sections -->
	{%- for _poultry in _poultrys -%}
		{%- include section.html title=_poultry.title photo=_poultry.cover-photo photo-alt=_poultry.cover-photo-alt auto-header=_poultry.auto-header content=_poultry.content -%}
	{%- endfor -%}
</div>