---
layout: default
---
{%- assign _seafoods = site.seafoods | sort: 'order' -%}
{%- include header.html scrolly_nav=_seafoods -%}
<!-- Main -->
<div id="main">
	{%- if page.content != "" -%}
		{%- include section.html title=page.title photo=page.cover-photo photo-alt=page.cover-photo-alt auto-header=page.auto-header content=page.content -%}
	{%- endif -%}
	<!-- Sections -->
	{%- for _seafood in _seafoods -%}
		{%- include section.html title=_seafood.title auto-header=_seafood.auto-header subtitle=_seafood.author-%}
		<div class="row">
			<div class="6u 12u$(mobile)">
				<div class = "container">
		        	<h2> Ingredients </h2> 
		        	{{_seafood.content}}
		   		</div>
		    </div>
			<div class="6u 12u$(mobile)">
		    	<div class = "container">
		    		<h2> Directions </h2>
		    		{{_seafood.directions | markdownify}}
		    	</div>
		    </div>
		</div>
	{%- endfor -%}
</div>